.person_photo{
    width: 250px;
    margin-bottom: 12px;
}

.person_item{
    width: 250px;
    margin-right: 75px;
}

.person_title{
    font-weight: 700;
    font-size: 18px;
    line-height: 47px;
    color: #000000;
    margin: 0 0 44px 0;
}

.person_job{
    color:grey;
}