.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
  outline: none;
}

.logo {
  width: 186px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: white;
}

.sandwich {
  width: 36px;
  height: 36px;
  background: #be123c;
  border-radius: 50%;
}

.sandwich svg{
  margin: 13.2px 0 0 8.6px;
}

.sign{
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
}

img {
  cursor: pointer;
}
