.featured-header {
  display: flex;
  justify-content: space-between;
}

.trends{
  padding: 0;
  margin-bottom: 93px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  margin: 0 0 44px 0;
}

p{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #BE123C;
margin: 0;
}
